@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<!DOCTYPE html>
<html>
<head>
    <title>Carmelo Alvarez  Mithra Sagar  Raphael Restrepo Bio</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

    <!-- Site Header -->
    <header>
        <!-- h1: The most important headline (only one allowed per page by W3C standards) -->
        <h1>Student Profile Page</h1>
    </header>

    <div class="container">
        <!-- Section 1: Biography -->
        <section id="main-bio">
            <!-- h2: Tier-2 Headline (Not as important as the h1 header, but more than one allowed). -->
            <h2>Group 5:  Carmelo Alvarez, Mithra Sagar and Rafael Restrepo</h2>

            <!-- Headshot image -->
            <img id="bio-image" src="img/headshot.png" alt="Anna D Derbkova headshot">

            <!-- Paragraph with embedded link -->
            <h3>USF Master's in Business Analytics and Information System Students </h3>
            <p>
                <strong>Carmelo Alvarez</strong> currently works as a Senior Biological Scientist at the university of South Florida where he applies staistical analysis on large data sets. He currently holds an MBA specializing in Data Analytics and an MS in Biotechnology. He hopes to leverage his technical background and tansition his career into Data Science. <br/> <br/> <strong>Mithra Sagar</strong> is a Team Manager at Advanced Auto Parts and is a recent graduate of the undergraduate Business Analytics and Information Systems program at USF. He wishes to apply his graduate training towards a career in information systems. <br/> <br/> <strong>Rafael Restrepo</strong> is  
            </p>
        </section>

        <!-- Section 2: Contact Information -->
        <section id="contact-info">

            <h2>Team Member Coding Repositories</h2>

            <ul>
                <li><strong>Carmelo's Github:</strong> <a href="https://github.com/carmelotony">https://github.com/carmelotony</a></li>
                <li><strong>Mithra's Github:</strong> <a href="https://github.com/mithrasagar">https://github.com/mithrasagar</a></li>
                <li><strong>Rafael's Github:</strong> <a href="https://github.com/rrestrep">https://github.com/rrestrep</a></li>
            </ul>

        </section>
    </div>

</body>
</html>